@import url('https://fonts.googleapis.com/css?family=Roboto');

.name {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 58px;
    height: 58px;
    background-size: 58px;
    background-image: url(../img/logo.svg);
}