html, body, div, h1, h3, p, i, b, a {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.23em;
}

body {
    background: #EEF2F5;
}

.resume {
    background: #FFFFFF;
    width: 7in;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px #AAAAAA;
    margin: 40px auto;
    padding: .75in;
}

h1 {
    font-size: 14pt;
}

h3, p, i, b, span, a {
    font-size: 11pt;
}

a, a:visited {
    text-decoration: none;
    color: #2A5DB0;
}

.element, .description, .indented {
    margin-left: .25in;
}

#languages, #technologies, #relevant-courses {
    vertical-align: top;
    display: inline-block;
    position: absolute;
}

#relevant-courses + .description {
    margin-left: 1.15in;
}

#languages + .description, #technologies + .description {
    margin-left: 1.4in;
    display: inline-block;
}


.right {
    float: right;
    font-weight: normal;
}

.center {
    text-align: center;
}

.normal-weight {
    font-weight: normal;
}

hr {
    margin-bottom: .4em;
}

.experience .element .description > p::before {
    content: "\2022  ";
    opacity: .8;
}

@media screen and (max-width: 8.5in) {
    body {
        background: #FFFFFF;
        padding: 10px;
    }

    .resume {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .description p:not(.indented)::before {
        content: '\2022  ';
    }
    
    #languages, #technologies, #relevant-courses {
        position: relative;
    }
    #languages + .description, #technologies + .description, #relevant-courses + .description {
        margin-left: .25in;
    }
}

@media print {
    @page {
        margin: 0;
    }

    .resume {
        margin: 0;
        border: none;
        box-shadow: none;
    }

    a, a:visited {
        color: #000000;
    }
}
