@font-face {
    font-family: GoogleSans-Regular;
    src: url(GoogleSans-Regular.ttf);
}

html, body, div, h1, h3, p, i, b, a {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.23em;
}

body {
    background: #EEF2F5;
}

.resume {
    background: #FFFFFF;
    width: 7in;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px #AAAAAA;
    margin: 40px auto;
    padding: .75in;
}

h1 {
    font-size: 14pt;
}

h3, p, i, b, span, a {
    font-size: 11pt;
}

a, a:visited {
    text-decoration: none;
    color: #2A5DB0;
}

.element, .description, .indented {
    margin-left: .25in;
}

#languages, #technologies, #relevant-courses {
    vertical-align: top;
    display: inline-block;
    position: absolute;
}

#relevant-courses + .description {
    margin-left: 1.15in;
}

#languages + .description, #technologies + .description {
    margin-left: 1.4in;
    display: inline-block;
}


.right {
    float: right;
    font-weight: normal;
}

.center {
    text-align: center;
}

.normal-weight {
    font-weight: normal;
}

hr {
    margin-bottom: .4em;
}

.experience .element .description > p::before {
    content: "\2022  ";
    opacity: .8;
}

#print-button {
    position: fixed;
    margin: 20px;
    right: 0;
    top: 0;
    padding: 0 7px;
    letter-spacing: 0.5px;
    background-color: #4285f4;
    cursor: pointer;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 13px;
    height: 30px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

#print-button:hover {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14),
                0px 3px 1px -2px rgba(0,0,0,0.12),
                0px 1px 5px 0px rgba(0,0,0,0.2);
}

#print-button img {
    height: 1em;
    padding-right: 4px;
}

#print-button p {
    font-family: GoogleSans-Regular;
    font-size: 1em;
}

@media screen and (max-width: 8.5in) {
    body {
        background: #FFFFFF;
        padding: 10px;
    }

    .resume {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .description p:not(.indented)::before {
        content: '\2022  ';
    }

    #relevant-courses + .description p {
        display: inline;
    }

    #relevant-courses + .description p:nth-child(2)::before {
        content: '';
    }
    
    #languages, #technologies, #relevant-courses {
        position: relative;
    }
    #languages + .description, #technologies + .description, #relevant-courses + .description {
        margin-left: .25in;
    }

    #print-button {
        display: none;
    }
}

@media print {
    @page {
        margin: 0;
    }

    .resume {
        margin: 0;
        border: none;
        box-shadow: none;
    }

    a, a:visited {
        color: #000000;
    }

    #print-button {
        display: none;
    }
}
